.btn{
  background-color: rgb(8, 132, 169);
  border-radius: 25px;
  color: white;
  padding: 15px;
  border: 1px solid rgb(192, 187, 187);
}
.btn:hover{
  background-color: darkblue;
}

.btn-link{
  color: #ebf8e1;
  font-size: 30px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.btn-link:hover{
  color: green;
}
